<div class="col-xs-7">
   <div class="panel">
      <form name="contactDetailsForm" novalidate>
         <div class="form-group">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" id="firstName" class="form-control"
               ng-model="newContact.firstName" />
         </div>
         <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input name="lastName" type="text" id="lastName" class="form-control" ng-model="newContact.lastName" />
         </div>
      </form>
   </div>
</div>
