<div class="col-xs-7" ng-controller="contactDetailsCtrl">
<table class="table">
   <thead>
      <tr>
         <td>
            <h3>{{contact.firstName + " " + contact.lastName}}</h3>
         </td>
      </tr>
   </thead>
   <tbody>
      <tr ng-show="contact.phone">
         <td>
            <label>Phone</label>
            <p>{{contact.phone}}</p>
         </td>
      </tr>
      <tr ng-show="contact.email">
         <td>
            <label>Email</label>
            <p>{{contact.email}}</p>
         </td>
      </tr>
      <tr ng-show="contact.address">
         <td>
            <label>Home</label><br />
            <p>
               {{contact.address.street}}<br />
               {{contact.address.street2}}<br />
               {{contact.address.city + " " + contact.address.state + " " + contact.address.zip}}<br />
               {{contact.address.country}}
            </p>
         </td>
      </tr>
   </tbody>
</table>
</div>
