<div class="col-xs-7" ng-controller="contactDetailsCtrl">
   <div class="panel" ng-show="visible">
      <h3>{{contactTitle}}</h3>
      <form name="contactDetailsForm" novalidate>
         <div class="form-group">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" id="firstName" class="form-control"
               ng-model="contact.firstName" />
         </div>
         <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input name="lastName" type="text" id="lastName" class="form-control"
               ng-model="contact.lastName" />
         </div>
         <div class="form-group">
            <label for="phone">Phone:</label>
            <input name="phone" type="text" id="phone" class="form-control"
               ng-model="contact.phone" />
         </div>
         <div class="form-group">
            <label for="email">Email:</label>
            <input name="email" type="email" id="email" class="form-control"
               ng-model="contact.email" />
         </div>

         <div class="form-group">
            <table class="table borderless">
               <tr valign="middle">
                  <td rowspan="6">
                     <label>Address:</label>
                  </td>
                  <td>
                     <input name="street" type="text" id="street" class="form-control"
                        ng-model="contact.address.street" placeholder="Steet Address 1" />
                  </td>
               </tr>
               <tr>
                  <td>
                     <input name="street2" type="text" id="street2" class="form-control"
                        ng-model="contact.address.street2" placeholder="Street Address 2" />
                     </td>
               </tr>
               <tr>
                  <td>
                     <input name="city" type="text" id="city" class="form-control"
                        ng-model="contact.address.city" placeholder="City" />
                  </td>
               </tr>
               <tr>
                  <td>
                     <input name="state" type="text" id="state" class="form-control"
                        ng-model="contact.address.state" placeholder="State" />
                  </td>
               </tr>
               <tr>
                  <td>
                     <input name="zip" type="text" id="zip" class="form-control"
                        ng-model="contact.address.zip" placeholder="Zip" />
                  </td>
               </tr>
               <tr>
                  <td>
                     <input name="country" type="text" id="country" class="form-control"
                        ng-model="contact.address.country" placeholder="Country" />
                  </td>
               </tr>
            </table>
         </div>
         <div class="form-group text-center" ng-show="contactState=='edit'">
             <button class="btn btn-warning" ng-click="deleteContact()" ng-hide="confirmDelete">Delete</button>
             <button class="btn btn-danger" ng-click="confirmDeleteContact()" ng-show="confirmDelete">Confirm Delete</button>
             <button class="btn btn-success" ng-click="saveContact()">Save</button>
             <button class="btn btn-default" ng-click="cancelContact()">Cancel</button>
         </div>
         <div class="form-group text-center" ng-show="contactState=='new'">
            <button class="btn btn-success" ng-click="saveNewContact()">Save</button>
             <button class="btn btn-default" ng-click="cancelContact()">Cancel</button>
         </div>
      </form>
   </div>
</div>
