<div class="col-xs-8" ng-controller="contactDetailsCtrl">
   <table class="table" ng-show="contact">
      <thead>
         <tr>
            <td>
               <h3>{{contact.firstName + " " + contact.lastName}}</h3>
            </td>
            <td class="text-right valign-middle">
               <button class="btn btn-default" ng-click="editContact(contact)">
                  Edit
               </button>
            </td>
         </tr>
      </thead>
      <tbody>
         <tr ng-show="contact.phone">
            <td colspan="2">
               <label>Phone</label>
               <p>{{contact.phone}}</p>
            </td>
         </tr>
         <tr ng-show="contact.email">
            <td colspan="2">
               <label>Email</label>
               <p>{{contact.email}}</p>
            </td>
         </tr>
         <tr ng-show="contact.address">
            <td colspan="2">
               <label>Home</label><br />
               <p>
                  {{contact.address.street}}
               </p>
               <p>
                  {{contact.address.street2}}
               </p>
               <p>
                  {{contact.address.city + " " + contact.address.state + " " + contact.address.zip}}
               </p>
               <p>
                  {{contact.address.country}}
               </p>
            </td>
         </tr>
      </tbody>
   </table>
</div>
